PORT=5000
MONGO_URI=mongodb+srv://sahdipanshu052_db_user:GNe4PQjIh39Db660@cluster0.ccwfmgm.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecretkey
CLIENT_URL=https://chai-poll-sigma.vercel.app
BACKEND_URL=https://chaipoll-n3ti.onrender.com

# Brevo Email
BREVO_API_KEY=Brevo ki api key
BREVO_FROM_EMAIL=jo email breavo mein use kiye ho
BREVO_FROM_NAME=ChaiPoll

# Google OAuth
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_secret_code